Q.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
=======

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.gradle/buildOutputCleanup/built.bin
.gradle/3.5.1/taskHistory/taskHistory.lock
.gradle/3.5.1/taskHistory/taskHistory.bin
.gradle/3.5.1/taskHistory/jvmClassSignatures.bin
.gradle/3.5.1/taskHistory/fileSnapshots.bin
.gradle/3.5.1/taskHistory/fileHashes.bin
.gradle/3.5.1/fileContent/fileContent.lock
.gradle/3.5.1/fileContent/annotation-processors.bin
.gradle/3.5.1/file-changes/last-build.bin


# we build our .css files from .less, so no need to commit them.
*.css