<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/css/tictactoe.css}" href="/css/tictactoe.css" />
    


</head>
<body>
<section>

        <div id="gameWrapper">
            <div id="board">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </section>

    <section>
        <div class="bSize">
            <input id="width" type="number" name="width" min="3" max="20" />
            <input id="height" type="number" name="height" min="3" max="20" />
            <div class="btn createBoard">Resize Board</div>
        </div>
    </section>
    <section>

        <div id="symbolList">
            <div class="icon-brand2"></div>
            <div class="icon-brand3"></div>
            <div class="icon-nintendoswitch"></div>
            <div class="icon-tux"></div>
            <div class="icon-appleinc"></div>
            <div class="icon-windows8"></div>
        </div>

    </section>

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}" src="/js/jquery-3.2.1.min.js" />
<script type="text/javascript" th:src="@{/js/tictactoe.js}" src="/js/tictactoe.js" />

</body>
</html>